
.icon-splitit_give-money_blue_english:before { content: '\e800'; } /* '' */
.icon-splitit_get-money_blue_english:before { content: '\e801'; } /* '' */
.icon-special-bottomsheet_beneficiary_filled:before { content: '\e802'; } /* '' */
.icon-services_request-money_blue_english:before { content: '\e803'; } /* '' */
.icon-service_transfers_blue_english:before { content: '\e804'; } /* '' */
.icon-service_splitit_blue_english:before { content: '\e805'; } /* '' */
.icon-service_spending-analyzer_blue_english:before { content: '\e806'; } /* '' */
.icon-service_savings-pot_blue_english:before { content: '\e807'; } /* '' */
.icon-service_rewards_blue_english:before { content: '\e808'; } /* '' */
.icon-service_refer-a-buddy_blue_english:before { content: '\e809'; } /* '' */
.icon-service_profile-&-setting_blue_english:before { content: '\e80a'; } /* '' */
.icon-service_iskan-store_blue_english:before { content: '\e80b'; } /* '' */
.icon-service_budget-buddy_blue_english:before { content: '\e80c'; } /* '' */
.icon-saving-pots_edit-with-background_blue_english:before { content: '\e80d'; } /* '' */
.icon-profile-&-setting_reset-pin_blue_english:before { content: '\e80e'; } /* '' */
.icon-profile-&-setting_logout_blue_english:before { content: '\e80f'; } /* '' */
.icon-profile-&-setting_language_blue_english:before { content: '\e810'; } /* '' */
.icon-profile-&-setting_close_blue_english:before { content: '\e812'; } /* '' */
.icon-profile-&-setting_change-theme_blue_english:before { content: '\e813'; } /* '' */
.icon-profile-&-setting_block-card_blue_english:before { content: '\e814'; } /* '' */
.icon-profile-&-setting_account-details_blue_english:before { content: '\e815'; } /* '' */
.icon-nav-bar_transfer_outline:before { content: '\e817'; } /* '' */
.icon-nav-bar_transfer_blue_english_filled:before { content: '\e818'; } /* '' */
.icon-nav-bar_splitit_outline:before { content: '\e819'; } /* '' */
.icon-nav-bar_services_outline:before { content: '\e81a'; } /* '' */
.icon-nav-bar_notification_outline:before { content: '\e81b'; } /* '' */
.icon-nav-bar_home_outline:before { content: '\e81c'; } /* '' */
.icon-login_previous_outline:before { content: '\e81d'; } /* '' */
.icon-login_next_outline:before { content: '\e81e'; } /* '' */
.icon-login_fingerprint_english:before { content: '\e81f'; } /* '' */
.icon-iskan-store_locate-me_blue_english:before { content: '\e820'; } /* '' */
.icon-iskan-store_collect-from-branch_blue_english:before { content: '\e821'; } /* '' */
.icon-iskan-learning_video-duration_outline:before { content: '\e822'; } /* '' */
.icon-dashboard_transacion-history_blue_english:before { content: '\e823'; } /* '' */
.icon-common_selected_blue_english_filled:before { content: '\e825'; } /* '' */
.icon-common_search_blue_english:before { content: '\e826'; } /* '' */
.icon-common_radio_button-unselected:before { content: '\e827'; } /* '' */
.icon-common_radio_button-selected:before { content: '\e828'; } /* '' */
.icon-common_location_blue_english:before { content: '\e829'; } /* '' */
.icon-common_iskan-learning_blue_english:before { content: '\e82a'; } /* '' */
.icon-common_filter_blue_english:before { content: '\e82c'; } /* '' */
.icon-common_expand-list_blue_english:before { content: '\e82e'; } /* '' */
.icon-common_error-cases_outline:before { content: '\e82f'; } /* '' */
.icon-common_edit_blue_english:before { content: '\e830'; } /* '' */
.icon-common_delete_outline:before { content: '\e833'; } /* '' */
.icon-common_date-picker_blue_english:before { content: '\e835'; } /* '' */
.icon-common_copy_blue_english:before { content: '\e836'; } /* '' */
.icon-common_collapse_blue_english:before { content: '\e837'; } /* '' */
.icon-common_back_blue_english:before { content: '\e838'; } /* '' */
.icon-cliq_scan-qr_blue_english:before { content: '\e839'; } /* '' */
.icon-cliq_register_blue_english:before { content: '\e83a'; } /* '' */
.icon-budget-buddy_lock_blue_english:before { content: '\e83b'; } /* '' */
.icon-cliq_requests-and-transactions_blue_english:before { content: '\e83c'; } /* '' */
.icon-transaction-history_debit_outline:before { content: '\e83d'; } /* '' */
.icon-transaction-history_credit_outline:before { content: '\e83e'; } /* '' */
.icon-splitit_lock-split-group_blue_english:before { content: '\e840'; } /* '' */
.icon-splitit_unlock-split-group_blue_english:before { content: '\e841'; } /* '' */
.icon-bill-payment_multi-bill-payment_blue_english:before { content: '\e842'; } /* '' */
.icon-common_close_blue_english:before { content: '\e843'; } /* '' */
.icon-nav-bar_notification_green_english_filled:before { content: '\e844'; } /* '' */
.icon-nav-bar_services_green_english_filled:before { content: '\e845'; } /* '' */
.icon-nav-bar_home_green_english_filled:before { content: '\e849'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
